.section-button {
    margin-top: 32px;
    margin-left: 46px;
    border-radius: 17px;
    width: 274px;
    height: 118px;
    border: 2.5px  #7a64ac93 solid; 
}
.title-section {
    text-align: right;
    margin-top: -68px;
    margin-right: 14px;
    
}
.button-text {
    color: black;
    line-height: 18px;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.image-button {
    margin-left: -1px;
    margin-top: -1px;
}