
.eclipse {
    width: 219px;
    height: 160px;
    margin: 0;
    margin-top: 0%;
    margin-left: 0%;
}

.icoMain {
    width: 125px;
    height: 54px;
    margin-bottom: 22px;
    margin-left: -161px;
    height: 50px;
}